body {
    margin: 0px;
    font-family: Nunito, sans-serif;
}

header {
    background-color: #66D180;
    height: 10vh;
    /*border-right: 3px solid #928873; 
    border-left: 3px solid #928873;*/
    border-top: 3px solid #66D180;
    display: flex;
}

footer {
    background-color: #FF636D;
    height: 9vh;
    /*border-right: 3px solid #928873; #d6545c
    border-left: 3px solid #928873;*/
    border-bottom:  1px solid #66D180;
    border-top: 1px solid #d6545c;
    display: flex;
}

footer img {
    padding-left: 3vw;
    padding-top: 1vh;
}

.insta {
    padding-top: 1.5vh;
}

footer h2 {
    padding-left: 0.5vw;
    padding-top: 0.5vh;
}

section {
    display: flex;
    flex-direction: row;
}

main {
    background-color: white;
    height: 80vh;
    flex: 1;
    border-bottom: 3px solid #d6545c;
    border-top: 3px solid #57ad6c;
    /*border-left: 3px solid #928873;*/
}

main p {
    padding-left: 5vw;
    font-size: 40px;
    font-family: asap;
}

#texto1 {
    padding-left: 5vw;
    padding-top: 3vw;
    font-size: 100px;
    margin: 0;
}

aside {
    background-color: white;
    height: 80vh;
    width: 35vw;
    font-family: asap;
    border-bottom: 3px solid #d6545c;
    border-top: 3px solid #57ad6c;
    /*border-right: 3px solid #928873;*/
}

aside p{
    padding-left: 4vw;
    font-size: 30px;
    font-family: asap;
}

#texto2 {
    margin-left: 4vw;
    margin-top: 8.4vh;
    font-size: 50px;
}

#linha-vertical {
    height: 80vh;
    border-right: 5px solid black;
    border-bottom: 3px solid #928873;
    border-top: 3px solid #57ad6c;
}

.menu {
    padding-top: 3vh;
}

.menu a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-right: 3vw;
    font-family: asap;
    padding-left: 4vw;
    font-size: 30px;
}

.menu a:hover{
    color: #A48E5F;
    transition: 0.3s;
}

.logo {
    width: 70vw;
    padding-left: 104px;
}

header h2 {
    padding-left: 5.4vw;
    padding-top: 1.5vh;
}
